/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

a {
    color: #038782;
}

a:hover {
    text-decoration: none;
    color: #038782;
}

h1 {
    font-size: 30px;
    font-family: 'Yrsa', serif !important;
    font-weight: bold;
}

h2, h3 {
    font-size: 25px;
    font-family: 'Yrsa', serif !important;
}

h4, h5, h6 {
    font-size: 20px;
    font-family: 'Yrsa', serif !important;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-top: 25px;
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 15px;
    text-align: center;
}

.pi-block-title h3 {
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    padding: 10px 0 0 0;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
}

.pi-header .pi-header-navbar-user .navbar-btn {
    margin-right: -15px;
    margin-left: 15px;
}

.pi-header-body {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* section */
.pi-section {
    padding: 15px 0;
    background-color: #fff;
}

.pi-section .breadcrumb {
    background-color: #fff;
}

.pi-section .pi-module-content {
    padding: 0 15px;
    margin-bottom: 15px;
}

.pi-section .thumbnail {
    border: #fff;
}

.pi-section-divider {
    margin: 35px -15px !important;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

/* footer */
.pi-footer {
    padding: 15px 0;
    background-color: #fff;
}

.pi-footer .pi-footer-body {
    border-top: 1pmin-height: x solid #ddd;
    padding: 15px 0;
}

.pi-footer-menu {
    padding-right: 25px;
}

/* modules */
.shop .product-sort {
    background-color: #fff;
}

.shop h1 {
    font-size: 40px;
    font-family: 'Yrsa', serif !important;
}

.shop h3 {
    font-size: 25px;
    font-family: 'Yrsa', serif !important;
}

.shop .category-width-description {
    font-size: 20px;
    font-family: 'Yrsa', serif !important;
}

.product-ribbon p {
    display: none !important;
}

.pi-item-list .pi-item-box .caption {
    min-height: 100px !important;
}
/* blocks */
.recent-post-single img,
.news-item-block-magazine img {
    border-radius: 0;
    padding-top: 2px;
}

.news-item-block-magazine-sub,
.recent-post-single {
    margin-bottom: 15px;
}

.shop-block-product {
    margin: 0 -15px;
}

.shop-block-product h3 {
    font-size: 20px !important;
    font-family: 'Yrsa', serif !important;
}

.shop-block-category .thumbnail h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px !important;
}

.recent-post-single h3 {
    padding: 1px;
    margin: 1px;
    font-family: 'Yrsa', serif!important;
    font-size: 20px !important;
}

.news-block .owl-carousel h3 {
    font-family: 'Yrsa', serif!important;
    font-size: 20px !important;
}
/* btn */
.btn-primary {
    color: #fff;
    background-color: #038782;
    border-color: #038782;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #3BA193;
    border-color: #3BA193;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3BA193;
    border-color: #3BA193;
}

.btn-success {
    color: #fff;
    background-color: #038782;
    border-color: #038782;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #3BA193;
    border-color: #3BA193;
}
.btn-success:hover {
    color: #fff;
    background-color: #3BA193;
    border-color: #3BA193;
}

/* pagination */
.pagination > li > a,
.pagination > li > span {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #038782;
    border-color: #038782;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #038782;
    border-color: #038782;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

/* widget-list */
.widget-list {
    margin-top: 35px;
    margin-bottom: 35px;
}

.widget-list-text-single h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px !important;
}

.widget-list-text-single-icon .fa {
    color: #424242;
}

.widget-list-text-single-icon .fa-5x {
    font-size: 55px;
}

/* owl */
.owl-nav [class*='owl-'] {
    font-size: 30px !important;
    background: rgba(255, 255, 255, 0.9);
    height: 40px;
    width: 40px;
    padding: 5px 15px 5px 15px;
}

.owl-nav [class*='owl-']:hover {
    color: #cda04b !important;
    background: rgba(255, 255, 255, 0.9);
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 0;
    display: block !important;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 0;
    display: block !important;
}

.owl-carousel {
    height: 403px !important;
}

.owl-carousel .owl-stage {
    height: 400px !important;
}

.owl-carousel .owl-stage-outer {
    height: 400px !important;
}

.owl-carousel .owl-item {
    max-height: 400px !important;
}

.owl-carousel .owl-item img {
    max-height: 300px !important;
}

.owl-carousel .owl-controls .owl-nav {
    margin-top: -300px !important;
}

.owl-carousel .thumbnail img {
    width: 100%;
}

.owl-carousel .owl-item h3 {
    font-size: 16px;
}

/* slide */
.carousel-caption {
    text-align: left;
    top: 50px;
    width: 500px;
    height: 150px;
    border-radius: 4px;
    padding: 15px;
    background: rgba(0,0,0, 0.35);
}

.carousel-caption h4 {
    text-align: left;
    font-size: 30px;
    margin: 5px 0;
    font-family: 'Yrsa', serif;
}

.carousel-caption p {
    text-align: left;
    font-size: 22px;
    margin: 5px 0;
    font-family: 'EB Garamond', serif;
}

.pi-section-divider .carousel-caption {
    /* text-align: center !important; */
    width: 50% !important;
    margin: 0 auto;
    height: auto !important;
    top: 10% !important;
    background: none;
}

.pi-section-divider .carousel-caption h4 {
    text-align: center !important;
    font-family: 'Italianno', serif !important;
    font-size: 60px;
}

/* Box */
.box-information {
    background: #038782;
    border-radius: 20px;
    padding: 40px 30px;
    margin-bottom: 45px;
    color: #fff;
    font-family: 'Yrsa', serif !important;
    font-size: 18px;
}

.box-information-header {
    text-align: center;
    margin-bottom: 35px;
}

.box-information-header h2 {
    font-size: 30px !important;
    font-family: 'Yrsa', serif !important;
}

.box-information ul {
    padding-left: 0;
    margin-left: 0;
}

.box-information ul li {
    padding-left: 55px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.2em;
    list-style: none;
    position: relative;
}

.box-information ul li:before {
    content: '1';
    display: inline-block;
    position: absolute;
    left: 0;
    top: -9px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #fff;
    color: #038782;
    text-align: center;
    line-height: 33px;
    font-size: 20px;
    font-weight: bold;
}

.box-information ul li:nth-child(2):before {
    content: '2';
}

.box-information ul li:nth-child(3):before {
    content: '3';
}

.box-information ul li:nth-child(4):before {
    content: '4';
}

.box-information li:nth-child(5):before {
    content: '5';
}